{% extends "Master.html"%}
 
{%block content%} 
<form method="post" action="/addTocart"> 
    {%csrf_token%}
<div class="container"> 
    <h1>Cake Details</h1>
<table class="table">
    <tr>
        <td>Cake Id:</td><td>{{cake.id}}<input type="hidden" value="{{cake.id}}" name="cake_id"/> </td>
        <td rowspan="5"><img src="{{cake.imageurl.url}}" class="img-circle" height="300px" width="300px"/> </td>
    </tr>
    <tr>
        <td>Cake Name:</td><td>{{cake.cake_name}}</td>
    </tr>
    <tr>
        <td>Cake Price:</td><td>{{cake.price}}</td>
    </tr>
    <tr>
        <td>Cake Description:</td><td>{{cake.description}}</td>
    </tr>
    <tr>
        <td>Cake Category:</td><td>{{cake.category}}</td>
    </tr>
    <tr>
        <td><button type="submit" class="btn btn-success">Add To Cart</button> </td>
        <td><select name="qty">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </td>
         
    </tr>
</table>
</div>
</form>
{%endblock%} 